.about-us p{
    margin-bottom: 30px;
}

/* About Us */
.about-us {
  display: flex;
  flex-direction: column;
  padding: 3em 10vw;
  background-color: var(--contrast-color);
}

.about-us .subtitle {
  font-size: xx-large;
  font-family: var(--text-font);
  color: var(--primary-color);
  margin: 0;
}

.about-us .title {
  font-size: 8vw;
  font-family: var(--title-font);
    font-weight: 600;
  margin-bottom: 0.1em;
  color: var(--primary-color);
}

.about-us p {
  font-size: 18px;
  line-height: 1.5;
  color: var(--primary-color);
}

#brand-assets {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--contrast-color);
    width: 100%;
    color: var(--primary-color);
    gap: 20px;
    padding-bottom: 100px;
}

.brand-assets-btn {
    padding: 1em 2em;
    border: var(--border);
    width: fit-content;
    border-radius: var(--border-radius);
    transition: all 0.1s ease-in-out;
}

.brand-assets-btn a {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.brand-assets-btn:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

.brand-assets-btn:hover a {
    color: var(--text-color);
}

.brand-assets-btn a{
    text-decoration: none;
    font-size: medium;
    color: var(--nav-color);
    transition: all 0.1s ease;
}

/***** 

.nav-links li {
    display: inline-block;
}

.nav-links li a {
    color: var(--primary-color);
    text-decoration: none;
    font-family: var(--accent-font);
    transition: color 0.3s ease-out;
    padding: 8px 20px;
    border-radius: var(--border-radius);
    transition: 0.2s ease-in-out;
}

.nav-links li a:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
}

*****/

#team {
    background-color: var(--contrast-color);
    width: 100%;
    text-align: center;
    font-family: var(--text-font);
    color: var(--primary-color);
    padding-bottom: 50px;
}

.team .title {
    color: var(--nav-color);
}

.team .col {
    padding: 0;
}

.team .row {
    display: flex;
    flex-direction: column;
}

.member-name {
    margin: 0;
    padding: 1em 2em;
    font-weight: 500;
    border: var(--border);
    border-radius: 1em;
    color: var(--nav-color);
    transition: all 0.1s ease;
}

.member-name:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.member-name.founder:hover {
    background-color: var(--accent-color);
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5em;
    padding: 1em 5em;
}

/* Telemóvel */
@media (max-width: 530px) {

    .subtitle {
        font-size: 24px !important;
        margin: 0 !important;
    }


    .team .title, #brand-assets .title {
        font-size: 24px !important;
    }

    .about-us {
        max-width: 100% !important;

        padding: 3em 20px 50px !important;
    }

    .team-grid {
        grid-template-columns: repeat(2, 1fr) !important;
        padding: 1em;
    }

    .member-name {
        font-size: medium;
        padding: 1em 2em;
    }

}

@media (max-width: 990px) {
    .about-us .title {
        font-size: 12vw !important;
    }

    .team-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}




