.about-us p{
    margin-bottom: 30px;
}

/* About Us */
.about-us {
  display: flex;
  flex-direction: column;
  padding: 200px 10vw 50px;
  background-color: var(--contrast-color);
}

.about-us .subtitle {
  font-size: 40px;
  font-family: var(--text-font);
  color: var(--primary-color);
  margin: 0;
}

.about-us .title {
  font-size: 8vw;
  font-family: var(--title-font);
  margin-bottom: 10px;
  color: var(--primary-color);
}

.about-us p {
  font-size: 18px;
  line-height: 1.5;
  color: var(--primary-color);
}

/***** 

.nav-links li {
    display: inline-block;
}

.nav-links li a {
    color: var(--primary-color);
    text-decoration: none;
    font-family: var(--accent-font);
    transition: color 0.3s ease-out;
    padding: 8px 20px;
    border-radius: var(--border-radius);
    transition: 0.2s ease-in-out;
}

.nav-links li a:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
}

*****/

#team {
    background-color: var(--contrast-color);
    width: 100%;
    text-align: center;
    font-family: var(--text-font);
    color: var(--primary-color);
    padding-bottom: 200px;
}

.team {
    padding: 150px;
}

.team a {
    text-decoration: none;
    color: var(--primary-color);
    transition: color 0.3s ease-in-out;
}

.team a:hover {
    color: var(--accent-color);
    cursor: url('../assets/cursors/pointer.png'), pointer;
    text-decoration: underline;
}

.team .title {
    color: var(--primary-color);
    padding-bottom: 20px;
}

.team .col {
    padding: 0;
}

.team .row {
    display: flex;
    flex-direction: column;
}

.member-name {
    margin: 0;
    padding: 10px 0;;
}

/* Telemóvel */
@media (max-width: 450px) {

    .subtitle {
        font-size: 24px !important;
        margin: 0 !important;
    }

    .team {
        padding: 50px 20px !important;
    }

    .team .title {
        font-size: 24px !important;
    }

    .team h4 {
        font-size: 18px !important;
    }

    .about-us {
        max-width: 100% !important;

        padding: 200px 20px 50px !important;
    }

}

@media (max-width: 990px) {
    .about-us .title {
        font-size: 12vw !important;
    }
}




