@keyframes swipeUp {
    from {
        transform: translateY(20%);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes fadeSlideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.event-card:hover {
    cursor: pointer;
    background-color: var(--navbar-background-color);
}

.event-card:hover img {
    transform: scale(1.02);
}