/* DISPLAY */

@font-face {
    font-family: 'ZT Nature';
    src: url(../assets/fonts/ZT_Nature_Variable-VF.ttf) format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ZT Nature';
    src: url(../assets/fonts/ZT_Nature_Variable_Italic-VF.ttf) format('truetype');
    font-style: italic;
    font-display: swap;
}

:root {
    --text-font: 'ZT Nature', Arial, sans-serif;
    --title-font: 'ZT Nature', Arial, sans-serif;
    --accent-font: 'ZT Nature', Arial, sans-serif;
}