#project-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    background-color: var(--contrast-color);
}

.project-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90vh;
    background-color: var(--contrast-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    background-image: url("../assets/sandman_titlecard.png");
    margin-bottom: 0;
}

#project-banner p {
    font-size: medium;
    transition: all 0.5s ease-in-out;
    color: var(--nav-color);
    width: 60vw;
    margin-bottom: 1em;
}

#project-banner h2 {
    color: var(--nav-color);
    font-weight: 600;
}

.demo-video {
    border: var(--border);
    border-radius: 1em;
    width: 60vw;
    height: auto;
    overflow: hidden;
}

.demo-video video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#project-banner .title {
    background-color: var(--contrast-color) !important;
    transition: all 0.5s ease-in-out;
    color: var(--primary-color);
    margin-top: 2em;
    margin-bottom: 0.5em;
}

.nav-links li { display: inline-block; }
.nav-links li a {
  color: var(--contrast-color);
}

.buttons a {
  color: var(--faded-white);
}

.nsb .nav-links li a::before {
    background-color: #d9db22 !important;
}

.buttons a:hover {
    color: var(--contrast-color) !important ;
}

.menu-btn {
    color: var(--contrast-color) !important;
}

.active {
    color: var(--contrast-color) !important;
}

#showcase {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--contrast-color);
}

.showcase {
    width: 60vw;
    display: flex;

}

@media (max-width: 1100px) {
    #project-banner p {
        padding: 10px 10vw; 
    }
}

@media (max-width: 450px) {
    #project-banner .title {
        font-size: 30px !important;
        padding: 0 10vw;
    }
}
